[submodule "widgets/widget-spjs"]
	path = widgets/widget-spjs
	url = https://github.com/chilipeppr/widget-spjs.git
[submodule "jslib/jquery-cookie"]
	path = jslib/jquery-cookie
	url = https://github.com/carhartl/jquery-cookie.git
[submodule "jslib/jquery-ui"]
	path = jslib/jquery-ui
	url = https://github.com/jquery/jquery-ui.git
[submodule "jslib/threejs"]
	path = jslib/threejs
	url = https://github.com/mrdoob/three.js.git
[submodule "widgets/widget-console"]
	path = widgets/widget-console
	url = https://github.com/chilipeppr/widget-console.git
[submodule "widgets/widget-pubsubviewer"]
	path = widgets/widget-pubsubviewer
	url = https://github.com/chilipeppr/widget-pubsubviewer.git
[submodule "widgets/widget-font2gcode"]
	path = widgets/widget-font2gcode
	url = https://github.com/chilipeppr/widget-font2gcode.git
[submodule "widgets/widget-svg2gcode"]
	path = widgets/widget-svg2gcode
	url = https://github.com/chilipeppr/widget-svg2gcode.git
[submodule "widgets/widget-zipwhip"]
	path = widgets/widget-zipwhip
	url = https://github.com/chilipeppr/widget-zipwhip.git
[submodule "widgets/widget-recvtext"]
	path = widgets/widget-recvtext
	url = https://github.com/chilipeppr/widget-recvtext.git
[submodule "widgets/widget-autolevel"]
	path = widgets/widget-autolevel
	url = https://github.com/chilipeppr/widget-autolevel.git
[submodule "widgets/widget-macrp"]
	path = widgets/widget-macro
	url = https://github.com/chilipeppr/widget-macro.git
[submodule "widgets/widget-jscut"]
	path = widgets/widget-jscut
	url = https://github.com/chilipeppr/widget-jscut.git
[submodule "widgets/widget-eagle"]
	path = widgets/widget-eagle
	url = https://github.com/chilipeppr/widget-eagle.git
[submodule "widgets/widget-gpio"]
	path = widgets/widget-gpio
	url = https://github.com/chilipeppr/widget-gpio.git
[submodule "widgets/widget-shuttlexpress"]
	path = widgets/widget-shuttlexpress
	url = https://github.com/chilipeppr/widget-shuttlexpress.git
[submodule "widgets/widget-touchplate"]
	path = widgets/widget-touchplate
	url = https://github.com/chilipeppr/widget-touchplate.git
[submodule "widgets/widget-super-touchplate"]
	path = widgets/widget-super-touchplate
	url = https://github.com/PyroAVR/widget-super-touchplate.git
[submodule "widgets/widget-programmer"]
	path = widgets/widget-programmer
	url = https://github.com/chilipeppr/widget-programmer.git
[submodule "widgets/elem-dragdrop"]
	path = widgets/elem-dragdrop
	url = https://github.com/chilipeppr/elem-dragdrop.git
[submodule "widgets/widget-3dviewer"]
	path = widgets/widget-3dviewer
	url = https://github.com/chilipeppr/widget-3dviewer.git
[submodule "widgets/widget-gcodelist"]
	path = widgets/widget-gcodelist
	url = https://github.com/chilipeppr/widget-gcodelist.git
[submodule "widgets/widget-axes"]
	path = widgets/widget-axes
	url = https://github.com/chilipeppr/widget-axes.git
[submodule "widgets/widget-tinyg"]
	path = widgets/widget-tinyg
	url = https://github.com/chilipeppr/widget-tinyg.git
[submodule "widgets/widget-cayenn"]
	path = widgets/widget-cayenn
	url = https://github.com/chilipeppr/widget-cayenn.git
[submodule "widgets/widget-configtinyg"]
	path = widgets/widget-configtinyg
	url = https://github.com/chilipeppr/widget-configtinyg.git
[submodule "widgets/xpix-widget-tinyg"]
	path = widgets/xpix-widget-tinyg
	url = https://github.com/xpix/widget-tinyg.git
[submodule "widgets/xpix-widget-3dviewer"]
	path = widgets/xpix-widget-3dviewer
	url = https://github.com/xpix/widget-3dviewer.git
[submodule "widgets/xpix-widget-console"]
	path = widgets/xpix-widget-console
	url = https://github.com/xpix/widget-console.git
[submodule "widgets/xpix-widget-gcodelist"]
	path = widgets/xpix-widget-gcodelist
	url = https://github.com/xpix/widget-gcodelist.git
[submodule "jslib/waypoints"]
	path = jslib/waypoints
	url = https://github.com/imakewebthings/waypoints.git
[submodule "widgets/widget-wcs"]
	path = widgets/widget-wcs
	url = https://github.com/chilipeppr/widget-wcs.git
